@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

a {
    text-decoration: none;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1000px;
    max-height: 75px;
    background-color: rgba(245, 182, 13, 0.8);
    padding: 16px 60px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 99;
}

header img {
    filter: brightness(1.3) contrast(1.1);
    width: 100%;
    max-height: 62px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;

    position: relative;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

nav a:hover {
    color: rgb(255 255 255 / 1);
}

nav a::after {
    position: absolute;
    top: calc(100% + 0.20rem);
    left: 0px;
    height: 1px;
    width: 100%;
    transform-origin: 100% 50%;
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0) scaleY(1);
    background-color: rgb(255 255 255 / 1);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
    transition-duration: 300ms;

}

nav a:hover::after {
    transform-origin: 0% 50%;
    content: "";
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero .button,
.highlight .button {
    background-color: #f9f9f9;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.hero a.button,
.highlight a.button {
    color: #464646;
}


.hero .button:hover,
.highlight .button:hover {
    transform: scale(0.96);
    transition-duration: .3s;
    transition-property: transform;
    animation: ease-in-out;
}



/* responsive menu */

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: -5px;
        gap: 0;
    }

    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 82px;
        right: 20px;
        left: 0;
        background: rgb(245 182 13 / 90%);
        padding: 15px;
        border-radius: 12px;
        list-style: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        display: flex;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .hero .button {
        display: none;
    }
}

/* Seção destacada */
.featured {
    background-color: #f9f9f9;
    padding: 80px 20px 40px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
}

.featured .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.featured .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured img {
    width: 466px;
    height: 551px;
}

.featured .button,
.portfolio .button {
    margin-top: 40px;
    background-color: #F5B60D;
    border: 2px solid #F5B60D;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.featured .button:hover,
.portfolio .button:hover {
    background-color: #f9f9f9;
    transition-property: background-color, border-color;
    transition-duration: .3s;
}

.featured a.button:hover,
.portfolio a.button:hover {
    color: #f5b60d;
    transition-property: color;
    transition-duration: .1s;
}

.featured a.button,
.portfolio a.button {
    color: #f9f9f9;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}


/* Carrossel */
/* Estilizando a seção principal */
.services-section {
    background: #E3A80A;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 8%;
    column-gap: 40px;
}

/* Estilizando a área de texto */
.services-text {
    color: #F9F9F9;
    width: 20%;
}

.services-text h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.services-subtext {
    font-size: 14px;
    font-style: italic;
}

.services-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.services-track {
    display: flex;
    gap: 15px;
    white-space: nowrap;
    will-change: transform;
}

.service-item {
    border: 2px solid #F9F9F9;
    border-radius: 20px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: 600;
    color: #F9F9F9;
    flex-shrink: 0;
    white-space: nowrap;
}


.services-carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
}

/* Filtro de esvaecimento nas laterais */
.services-carousel::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.services-carousel::before {
    left: 0;
    background: linear-gradient(to right, #E3A80A 0%, transparent 100%);
}




/*## ABOUT ##*/

.about {
    background-color: #F9F9F9;
    padding: 80px 20px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    color: #464646;
}

div.about-img {
    min-height: 390px;
    width: 600px;
    /* background-color: #D9D9D9; */
    background-image: url(/assets/team-about.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.about .container {
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.about p {
    font-size: 18px;
}

/* Destaque visual */
.highlight {
    min-height: 600px;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

    background: linear-gradient(107.27deg, #F5B60D 36.45%, #F6E73E 87.52%),
        url('/assets/logo-bg.png');
    background-position: center, right;
    background-size: cover, contain;
    background-repeat: no-repeat, no-repeat;
}

.highlight .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colunas */
    gap: 20px;
    /* Espaço entre os cards */
    justify-content: center;
    align-items: center;
}

.highlight .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 210px;
    height: 191px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 2px solid #F9F9F9;
    color: #f9f9f9;
}

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f9f9f9;
    padding: 10px;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.highlight .card h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.highlight .card p {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.highlight .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 400px;
    height: 398px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: 2px solid #F9F9F9;
    color: #f9f9f9;
}

.highlight p {
    text-align: center;
}

/* ## portifolio ## */

.portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .main-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 460px;
    margin: 60px 0;
    gap: 60px;

    width: 60%;
    /* background: rgba(245, 182, 13, 0.71); */
    background-color: #363636;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.18);
    border-radius: 20px;
}

.text-portfolio {
    color: #f9f9f9;
}

.card-portfolio {
    width: 480px;
    height: 340px;
    /* background-color: #ccc;
    border-radius: 8px; */
    background-image: url(/assets/portfolio.png);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}

/* Seção de contato */
.contact {
    padding: 80px 20px 0;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    background-image: url(/assets/bg-contato.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: auto;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    width: 100%;
    height: 600px;
    justify-content: center;
}

.contact-text {
    color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-text h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    max-width: 93%;
}

.contact-text p {
    font-size: 16px;
    font-weight: 400;
    max-width: 68%;
}

.contact-form-container {
    background: linear-gradient(146.75deg, #F5B60D 45.78%, #C08D04 63.89%);
    padding: 40px 50px;
    border-radius: 18px;
    width: 100%;
    max-width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input,
.contact-form textarea {
    background: none;
    border: 1px solid #f9f9f9;
    border-radius: 12px;
    padding: 12px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    outline: none;
    resize: none;
    color: #fff;
    font-weight: 600;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #f9f9f9;
    font-weight: 500;
}

div#form-result {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: lowercase;
    color: #f9f9f9;
}

.contact-form button {
    margin-top: 10px;
    padding: 12px;
    background-color: #fff;
    color: #F5B60D;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contact-form button:hover {
    transform: scale(0.96);
}


/* Rodapé */
footer {
    background-color: #E3A80A;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    font-weight: 300;
}


.whatsapp-button {
    position: fixed;
    bottom: 5vh;
    /* A 5% da altura da tela do rodapé */
    right: 3vw;
    /* A 3% da largura da tela à direita */
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    /* Torná‑lo redondo */
    background-color: #E3A80A;
    /* Cor padrão do WhatsApp */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}

.whatsapp-button img {
    width: 32px;
    height: 32px;
}


/* Responsividade */
@media (max-width: 767px) {

    section#featured,
    .featured,
    .services-section,
    .portfolio,
    .contact,
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about,
    .highlight {
        flex-direction: column-reverse;
    }

    .featured {
        padding-top: 130px;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
    }

    .featured .container {
        align-items: center;
    }

    .featured img {
        max-width: 360px;
        height: 422px;
    }

    .services-section {
        height: 160px;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding: 20px 0px;
    }

    .services-text {
        width: 100%;
        text-align: center;
    }

    .about .container {
        max-width: fit-content;
    }

    div.about-img {
        max-width: 360px;
        max-height: 240px !important;
        margin: -90px 0;
    }

    .highlight .card {
        max-width: 180px;
    }

    .highlight .card h3 {
        font-size: 18px;
    }

    .highlight .card p {
        font-size: 14px;
    }

    .highlight .card,
    .highlight .card-info {
        padding: 16px;
    }

    .highlight .card-info {
        width: 376px;
        text-align: center;
        height: 360px;
    }

    .portfolio .main-portfolio {
        flex-direction: column;
        align-items: center;
        width: 360px;
        height: 580px;
    }

    .card-portfolio {
        max-width: 360px;
    }

    .contact-wrapper {
        padding-bottom: 80px;
    }

    .contact {
        padding: 80px 20px 0;
        min-height: 800px;
        justify-content: center;
    }
}