@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Cabeçalho */
header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%; 
    max-width: 1000px;
    max-height: 75px;
    background-color: rgba(245, 182, 13, 0.8);
    padding: 16px 60px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

header img{
    filter: brightness(1.3) contrast(1.1);
    width: 100%;
    max-height: 62px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: 500;
    
    position: relative;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
nav a:hover {
    color: rgb(255 255 255 / 1);
}
nav a::after {
    position: absolute;
    top: calc(100% + 0.20rem);
    left: 0px;
    height: 1px;
    width: 100%;
    transform-origin: 100% 50%;
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(0) scaleY(1);
    background-color: rgb(255 255 255 / 1);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    content: "";
    transition-duration: 300ms;
    
}
nav a:hover::after {
    transform-origin: 0% 50%;
    content: "";
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.hero button {
    background-color: #f9f9f9;
    color: #464646;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.hero button:hover {
    transform: scale(0.96);
    transition-duration: .3s;
    transition-property: transform;
    animation: ease-in-out;
}

/* responsive menu */

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 82px;
        right: 20px;
        left: 0;
        background: rgb(245 182 13 / 90%);
        padding: 15px;
        border-radius: 12px;
        list-style: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    nav ul.active {
        display: flex;
        width: 100%;
    }

    .menu-toggle {
        display: block;
    }

    .hero button {
        display: none;
    }
}

/* Seção destacada */
.featured {
    background-color: #f9f9f9;
    padding: 80px 20px 40px;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
}

.featured .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.featured .image{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .featured img {
    width: 466px;
    height: 551;
} 

.featured button{
    margin-top: 40px;
    background-color: #F5B60D;
    border: 2px solid #F5B60D;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.featured button:hover {
    background-color: #f9f9f9;
    border: 2px solid #f5b60d;
    transition-property: background-color, border-color;
    transition-duration:.3s;
}

.featured button>a:hover {
    color: #f5b60d;
    transition-property: color;
    transition-duration:.1s;
}

.featured button a{
    color: #464646;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

/* Carrossel */
.carousel {
    text-align: center;
    padding: 40px 20px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel .item {
    width: 80px;
    height: 80px;
    background: #999;
}

/* Destaque visual */
.highlight {
    background-color: #ddd;
    padding: 40px 20px;
}

.highlight .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.image-group img {
    width: 100px;
    height: 100px;
    background: #999;
}

.highlight button {
    background-color: #666;
    color: white;
    border: none;
    padding: 10px 20px;
}

/* Seção de contato */
.contact {
    padding: 40px 20px;
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.contact label {
    text-align: left;
    margin-top: 10px;
}

.contact input, 
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
}

.contact button {
    margin-top: 10px;
    padding: 10px;
    background-color: #666;
    color: #fff;
    border: none;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}
